// $purple-primary: #50509f;
// $white: #FFF;
// $gray: #bebebe;
// $dark-navi: #0f0f0f;
// $orange: #FE805C;
// $dark-gray: #666;
// $light-gray: #929292;
// $black: #000;

@import "font.scss";
// @import "keyframes.scss";
// @import "index.scss";
// @import "media-queries.scss";

*
{
margin: 0 auto;
padding: 0;
}

body
{
overflow: hidden;
}
body.loaded .loader
{
top: 100vh;
}
body.loaded #content
{
top: 0;
}
a
{
text-decoration: none;
color: inherit;
}
.loader
{
width: 100%;
height: 100%;
background: #50509f;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
transition: 1s;
z-index: 6;
}
.loader-c
{
width: 500px;
max-width: 100%;
max-height: calc(100% - 100px);
height: 500px;
position: relative;
text-align: center;
}
@keyframes LogoRotate
{
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
@keyframes LogoShrink
{
from { max-width: 70%; }
to { max-width: 50%;  }
}
.loader-c-img
{
width: 400px;
max-width: 70%;
height: 400px;
max-height: 70%;
background-image: url("../img/logo-l.svg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
animation: LogoRotate 3s, LogoShrink 0.5s;
animation-delay: 0.5s, 3s;
animation-fill-mode: forwards, forwards;
transition: 1s;
}
.loader-c-txt
{
font-family: Poppins-Regular;
font-size: 30px;
color: #FFF;
width: 500px;
max-width: 100%;
height: 100px;
line-height: 100px;
}
#content
{
position: relative;
top: -100vh;
transition: 1s;
padding: 1vh 0;
box-sizing: border-box;
}
main
{
width: 100vw;
height: 100vh;
padding: 4vh 4vw;
box-sizing: border-box;
justify-content: center;
}
main section
{
width: 50%;
height: 100%;
max-height: 900px;
}
.section-content
{
width: 100%;
height: 100%;
position: relative;
}
.section-content > div
{
display: inline-block;
}
.wrapp
{
max-width: 1800px;
height: 100%;
}
.l
{
float: left;
}
.r
{
float: right;
}
.wrappp
{
width: 500px;
display: inline-block;
}
.logo div
{
text-align: center;
display: table-cell;
vertical-align: middle;
}
.logo img
{
width: 100%;
}
#logo-i
{
width: 80px;
}
#logo-t
{
width: 180px;
}
.line-m
{
width: 80%;
height: 6px;
background-color: #50509f;
margin: 20px 10%;
display: none !important;
border-radius: 10px;
}
.heading
{
padding: 50px 0;
font-family: Poppins-Bold;
font-size: 35px;
}
.heading h1
{
display: inline-block;
}
.heading h1:hover
{
color: #50509f;
}
.description
{
max-width: 700px;
font-size: 30px;
font-family: Poppins-Medium;
line-height: 40px;
}
.app
{
width: 550px;
text-align: center;
position: absolute;
bottom: 0;
left: 0;
}
.app.m
{
display: none;
}
.section-content-top.m
{
display: none;
}
.app-desc
{
width: 100%;
text-transform: uppercase;
color: #bebebe;
font-family: Poppins-BoldItalic;
font-size: 17px;
margin-bottom: 10px;
}
.app-ios, .app-android
{
width: calc(50% - 10px);
display: inline-block;
}
.app img
{
width: 100%;
}


.background
{
width: 54vw;
height: 100%;
position: fixed;
top: 0;
right: 0;
background-image: url("../img/logo-background.svg");
background-size: 54vw;
background-repeat: no-repeat;
background-position: right top;
}
.section-content-top
{
position: absolute;
top: 0px;
right: 0px;
padding: 15px 10px;
z-index: 2;
text-align: center;
}
.social-team
{
width: 100%;
margin-bottom: 35px;
}
.social-team a
{
padding: 10px 15px;
color: #FFFFFF;
font-family: Poppins-Bold;
letter-spacing: 1px;
border-radius: 5px;
background-color: #FE805C;
text-transform: uppercase;
}
.social-network
{
display: inline-block;
padding: 0px 10px;
cursor: pointer;
}
.social-network:hover
{
border-bottom: 2px solid #FFF;
padding-bottom: 5px;
}
.social-network img
{
width: 25px;
height: 25px;
}

.phone, .phone-options
{
display: inline-block;
vertical-align: top;
position: relative;
}

.phone
{
width: 400px;
height: 800px;
margin-top: 100px;
}
.phone-c
{
width: 100%;
height: 100%;
}
.phone-frame
{
z-index: 2;
}
.phone-frame, .phone-video
{
width: 100%;
position: absolute;
top: 0px;
}
.phone-video
{
width: 87%;
left: 25px;
top: 24px;
}
.phone-frame img, .phone-video video
{
width: 100%;
}


.phone-options
{
width: calc(100% - 420px);
max-width: 390px;
height: 800px;
padding-top: 190px;
padding-left: 30px;
box-sizing: border-box;
}
.phone-option
{
margin: 30px 0px;
cursor: pointer;
display: table;
}
@keyframes OptionBackground
{
from {background-color: transparent;}
to {background-color: #FE805C;}
}
.phone-option.active .phone-option-background
{
animation-name: OptionBackground;
animation-duration: 0.5s;
animation-fill-mode: forwards;
box-shadow: 0px 0px 10px #0f0f0f;
}
.phone-option:hover .phone-option-background
{
box-shadow: 0px 0px 10px #0f0f0f;
}
.phone-option div
{
display: table-cell;
vertical-align: middle;
}
.phone-option-background
{
width: 60px;
height: 60px;
margin-right: 10px;
border: 4px solid #FE805C;
border-radius: 40px;
display: block !important;
background-size: 80%;
background-position: center;
background-repeat: no-repeat;
}
#problem
{
background-image: url("../img/phone/problem.svg");
}
#connect
{
background-image: url("../img/phone/connect.svg");
}
#solution
{
background-image: url("../img/phone/solution.svg");
}
.phone-option-background img
{
width: 50px;
height: 50px;
margin: 5px;
}
.phone-option-description
{
color: #FFF;
font-family: Poppins-Medium;
font-size: 28px;
padding-left: 15px;
}
.phone-option-texts-line
{
width: 60%;
margin: 0 20%;
height: 3px;
background: #FFF;
display: none;
}
.phone-option-texts
{
color: #FFF;
font-family: Poppins-SemiBold;
font-size: 17px;
margin-top: 60px;
padding-right: 60px;
padding-left: 15px;
}
.phone-option-text
{
display: none;
opacity: 0;
top: -10px;
position: relative;
}
@keyframes OptionText
{
from {top: -10px; opacity: 0;}
to {top: 0px; opacity: 1;}
}
.phone-option-text.active
{
display: block;
animation-name: OptionText;
animation-duration: 1s;
animation-fill-mode: forwards;
}

.contact-us
{
color: #bebebe;
text-transform: uppercase;
font-family: Poppins-BoldItalic;
font-size: 17px;
position: absolute;
bottom: 0;
right: 0;
}
.contact-us:hover
{
color: #666;
}


@media screen and (max-width: 2000px)
{
.heading
{
font-size: 34px;
}
.description
{
font-size: 30px;
}
.phone
{
margin-top: 68px;
}
.phone-options
{
padding-top: 150px;
}
.phone-option-description
{
font-size: 26px;
}
}
@media screen and (max-width: 1800px)
{
.wrappp
{
width: 440px;
}
.heading
{
font-size: 26.5px;
padding: 45px 0;
}
.description
{
font-size: 26.5px;
line-height: 36px;
max-width: 610px;
}
.app
{
width: 485px;
}
.app-desc, .contact-us
{
font-size: 15px;
}
.phone
{
width: 352px;
height: 704px;
margin-top: 59px;
}
.phone-video
{
left: 22px;
top: 21px;
}
.phone-options
{
width: calc(100% - 372px);
padding-top: 130px;
padding-left: 25px;
}
.phone-option-background
{
width: 53px;
height: 53px;
}
.phone-option-description
{
font-size: 23px;
}
.phone-option-texts
{
font-size: 15px;
margin-top: 40px;
padding-right: 75px;
padding-left: 10px;
}
}
@media screen and (max-width: 1600px)
{
.wrappp
{
width: 367px;
}
.heading
{
font-size: 25px;
padding: 37px 0;
}
.description
{
font-size: 22.3px;
line-height: 30px;
max-width: 510px;
}
.app
{
width: 408px;
}
.app-desc, .contact-us
{
font-size: 12.5px;
}
.social-team
{
margin-bottom: 20px;
}
.social-team a
{
padding: 5px 10px;
font-size: 15px;
}
.social-network img
{
width: 19.5px;
height: 19.5px;
}
.phone
{
width: 294px;
height: 588px;
margin-top: 48px;
}
.phone-video
{
left: 18px;
top: 17px;
}
.phone-options
{
width: calc(100% - 314px);
padding-top: 115px;
padding-left: 20px;
}
.phone-option
{
margin: 22px 0;
}
.phone-option-background
{
width: 45px;
height: 45px;
border-width: 3px;
}
.phone-option-description
{
font-size: 19px;
padding-left: 10px;
}
.phone-option-texts
{
font-size: 12px;
}
}
@media screen and (max-width: 1400px)
{
.phone-option-texts
{
padding-right: 40px;
}
}
@media screen and (max-width: 1200px)
{
.wrappp
{
width: 315px;
}
.heading
{
font-size: 21.5px;
padding: 31px 0;
}
.description
{
font-size: 19.1px;
line-height: 26px;
max-width: 440px;
}
.app
{
width: 353px;
}
.app-desc, .contact-us
{
font-size: 10.5px;
}
.social-team
{
margin-bottom: 15px;
}
.social-team a
{
padding: 5px 10px;
font-size: 13px;
}
.social-network img
{
width: 16.5px;
height: 16.5px;
}
.phone
{
width: 252px;
height: 504px;
margin-top: 39px;
}
.phone-video
{
left: 16px;
top: 14px;
}
.phone-options
{
width: calc(100% - 272px);
padding-top: 90px;
}
.phone-option-background
{
width: 37px;
height: 37px;
}
.phone-option-description
{
font-size: 16px;
}
.phone-option-texts
{
font-size: 11px;
}
}
@media screen and (max-width: 1100px)
{
.wrappp
{
width: 277.5px;
}
.heading
{
font-size: 19px;
padding: 26px 0;
}
.description
{
font-size: 16.7px;
line-height: 22.5px;
max-width: 380px;
}
.app
{
width: 315px;
}
.app-desc, .contact-us
{
font-size: 10px;
}
.social-network img
{
width: 14.5px;
height: 14.5px;
}
.phone
{
width: 221px;
height: 442px;
margin-top: 33px;
}
.phone-video
{
left: 14px;
top: 12px;
}
.phone-options
{
width: calc(100% - 241px);
padding-top: 80px;
}
.phone-option-background
{
width: 33px;
height: 33px;
border-width: 2px;
}
.phone-option-description
{
font-size: 13px;
padding-left: 5px;
}
.phone-option-texts
{
padding-right: 27px;
font-size: 10px;
}
}
@media screen and (max-width: 1000px)
{
.wrappp
{
width: 250px;
}
.heading
{
font-size: 15.3px;
padding: 25px 0;
}
.description
{
font-size: 12.3px;
line-height: 18px;
max-width: 280px;
}
.app
{
width: 320px;
}
.app-desc, .contact-us
{
font-size: 8.5px;
}
.phone
{
width: 221px;
height: 442px;
margin-top: 33px;
}
.phone-video
{
left: 14px;
top: 12px;
}
.phone-options
{
width: calc(100% - 241px);
padding-top: 80px;
}
.phone-option-background
{
width: 33px;
height: 33px;
border-width: 2px;
}
.phone-option-description
{
font-size: 13px;
padding-left: 5px;
}
.phone-option-texts
{
padding-right: 27px;
font-size: 10px;
}
}
@media screen and (max-width: 900px)
{
.wrappp
{
width: 223px;
}
.heading
{
font-size: 15.3px;
padding: 20px 0;
}
.description
{
font-size: 13.3px;
line-height: 18px;
max-width: 305px;
}
.app
{
width: 255px;
}
.app-desc, .contact-us
{
font-size: 8px;
}
.social-network img
{
width: 11.5px;
height: 11.5px;
}
.phone
{
width: 177px;
height: 344px;
margin-top: 26px;
}
.phone-video
{
left: 11px;
top: 10px;
}
.phone-options
{
width: calc(100% - 197px);
padding-top: 60px;
padding-left: 10px;
}
.phone-option-background
{
width: 25px;
height: 25px;
border-width: 2px;
}
.phone-option-description
{
font-size: 11px;
padding-left: 5px;
}
.phone-option-texts
{
padding-right: 27px;
font-size: 8px;
}
}

@media screen and (max-width: 700px)
{
body.loaded
{
overflow: auto;
}
body.loaded .loader
{
display: none !important;
}
main
{
width: 100%;
height: inherit;
padding: 0;
}
main section
{
width: 100%;
height: inherit;
text-align: center;
}
main section.l .section-content
{
padding-bottom: 0;
}
section.l
{
display: contents;
}
section.r
{
margin-top: 20px;
}
.loader-c-txt
{
font-size: 22px;
}
.section-content
{
display: inherit;
}
.background
{
display: none !important;
}
.logo
{
width: 100%;
padding-top: 20px;
display: inline-block;
}
.logo div
{
display: inherit;
width: 60%;
}
.logo img
{
display: inherit;
}
#logo-i
{
width: 100%;
}
#logo-i img
{
width: 30%;
}
#logo-t
{
width: 100%;
padding: 2vh 0;
}
#logo-t img
{
width: 60%;
}
.line-m
{
display: block !important;
}
.section-content-top
{
display: none !important;
}
.heading
{
width: 100%;
font-size: 17px;
padding: 2vh 0;
}
.description
{
width: 100%;
max-width: inherit;
padding: 0px 50px;
box-sizing: border-box;
font-size: 14px;
line-height: 22px;
}
.app
{
width: 100%;
position: inherit;
display: none !important;
padding: 20px 0;
box-sizing: border-box;
}
.app.m
{
display: block !important;
background: #50509f;
}
.app.m > div img
{
max-width: 200px;
}
.app-desc
{
font-size: 12px;
color: #FFF;
font-family: Poppins-Bold;
}
.social-team
{
margin-top: 10px;
margin-bottom: 30px;
}
.social-team a
{
padding: 10px;
font-size: 13px;
}
.phone-option-description
{
color: #000;
}
.phone
{
height: 60%;
margin-bottom: 20px;
}
.phone-frame
{
position: relative;
}
.phone-video
{
top: 10.5px;
left: 11px;
}
.phone-options
{
width: 100%;
max-width: inherit;
}
.phone-options
{
width: 100%;
height: 230px;
padding: 0;
}
.phone-option
{
display: inline-block;
padding: 0px 20px;
vertical-align: middle;
}
.phone-option.active .phone-option-background
{
width: 60px;
height: 60px;
}
.phone-option.active .phone-option-background
{
background-size: 50px;
}
.phone-option-background
{
width: 40px;
height: 40px;
background-color: #929292;
border: none;
}
.phone-option-description
{
display: none !important;
}
.phone-option-texts-line
{
display: block;
}
.phone-option-texts
{
height: 100px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
padding: 0 10px;
box-sizing: border-box;
color: #000;
font-size: 13px;
}
.section-content-top.m
{
position: relative;
display: block !important;
}
.social-network img
{
width: 20px;
height: 20px;
}
.contact-us
{
display: none !important;
}
.app-ios, .app-android
{
width: 150px;

}
}