@media screen and (max-width: 2000px) {
    .heading {
        font-size: 34px;
    }
    .description {
        font-size: 30px;
    }
    .phone-option-description {
        font-size: 26px;
    }
}

@media screen and (max-width: 1800px) {
    .heading {
        font-size: 30px;
        padding-bottom: 45px;
    }
    .description {
        font-size: 26.5px;
        line-height: 36px;
        max-width: 610px;
    }
    .app {
        width: 485px;
    }
    .app-desc, .contact-us {
        font-size: 15px;
    }
    .phone {
        width: 352px;
        height: 704px;
    }
    .phone-video {
        left: 22px;
        top: 21px;
    }
    .phone-options {
        width: calc(100% - 372px);
        padding-left: 25px;
    }
    .phone-option-background {
        width: 53px;
        height: 53px;
    }
    .phone-option-description {
        font-size: 23px;
    }
    .phone-option-texts {
        font-size: 15px;
        margin-top: 40px;
        padding-right: 75px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 1600px) {
    .heading {
        font-size: 25px;
        padding-bottom: 37px;
    }
    .description {
        font-size: 22.3px;
        line-height: 30px;
        max-width: 510px;
    }
    .app {
        width: 408px;
    }
    .app-desc, .contact-us {
        font-size: 12.5px;
    }
    .social-network img {
        width: 19.5px;
        height: 19.5px;
    }
    .phone {
        width: 294px;
        height: 588px;
    }
    .phone-video {
        left: 18px;
        top: 17px;
    }
    .phone-options {
        width: calc(100% - 314px);
        padding-left: 20px;
    }
    .phone-option {
        margin: 22px 0;
    }
    .phone-option-background {
        width: 45px;
        height: 45px;
        border-width: 3px;
    }
    .phone-option-description {
        font-size: 19px;
        padding-left: 10px;
    }
    .phone-option-texts {
        font-size: 12px;
    }
}

@media screen and (max-width: 1400px) {
    .phone-option-texts {
        padding-right: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .heading {
        font-size: 21.5px;
        padding-bottom: 31px;
    }
    .description {
        font-size: 19.1px;
        line-height: 26px;
        max-width: 440px;
    }
    .app {
        width: 353px;
    }
    .app-desc, .contact-us {
        font-size: 10.5px;
    }
    .social-network img {
        width: 16.5px;
        height: 16.5px;
    }
    .phone {
        width: 252px;
        height: 504px;
    }
    .phone-video {
        left: 16px;
        top: 14px;
    }
    .phone-options {
        width: calc(100% - 272px);
    }
    .phone-option-background {
        width: 37px;
        height: 37px;
    }
    .phone-option-description {
        font-size: 16px;
    }
    .phone-option-texts {
        font-size: 11px;
    }
}

@media screen and (max-width: 1100px) {
    .heading {
        font-size: 19px;
        padding-bottom: 26px;
    }
    .description {
        font-size: 16.7px;
        line-height: 22.5px;
        max-width: 380px;
    }
    .app {
        width: 315px;
    }
    .app-desc, .contact-us {
        font-size: 10px;
    }
    .social-network img {
        width: 14.5px;
        height: 14.5px;
    }
    .phone {
        width: 221px;
        height: 442px;
    }
    .phone-video {
        left: 14px;
        top: 12px;
    }
    .phone-options {
        width: calc(100% - 241px);
    }
    .phone-option-background {
        width: 33px;
        height: 33px;
        border-width: 2px;
    }
    .phone-option-description {
        font-size: 13px;
        padding-left: 5px;
    }
    .phone-option-texts {
        padding-right: 27px;
        font-size: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .heading {
        font-size: 15.3px;
        padding-bottom: 25px;
    }
    .description {
        font-size: 12.3px;
        line-height: 18px;
        max-width: 280px;
    }
    .app {
        width: 320px;
    }
    .app-desc, .contact-us {
        font-size: 8.5px;
    }
    .phone {
        width: 221px;
        height: 442px;
    }
    .phone-video {
        left: 14px;
        top: 12px;
    }
    .phone-options {
        width: calc(100% - 241px);
    }
    .phone-option-background {
        width: 33px;
        height: 33px;
        border-width: 2px;
    }
    .phone-option-description {
        font-size: 13px;
        padding-left: 5px;
    }
    .phone-option-texts {
        padding-right: 27px;
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    .heading {
        font-size: 15.3px;
        padding-bottom: 20px;
    }
    .description {
        font-size: 13.3px;
        line-height: 18px;
        max-width: 305px;
    }
    .app {
        width: 255px;
    }
    .app-desc, .contact-us {
        font-size: 8px;
    }
    .social-network img {
        width: 11.5px;
        height: 11.5px;
    }
    .phone {
        width: 177px;
        height: 344px;
    }
    .phone-video {
        left: 11px;
        top: 10px;
    }
    .phone-options {
        width: calc(100% - 197px);
        padding-left: 10px;
    }
    .phone-option-background {
        width: 25px;
        height: 25px;
        border-width: 2px;
    }
    .phone-option-description {
        font-size: 11px;
        padding-left: 5px;
    }
    .phone-option-texts {
        padding-right: 27px;
        font-size: 8px;
    }
}

@media screen and (max-width: 700px) {
    body.loaded {
        overflow: auto;

        .loader {
            position: fixed;
        }
    }
    main {
        width: 100%;
        height: inherit;
        padding: 0;
        background: none;

        section {
            width: 100%;
            height: inherit;
            text-align: center;
        }
        section.l {
            display: contents;
            .logo .wrappp {
                flex-direction: column;
                margin: auto !important;
            }
            .line-m {
                margin: 1vh auto;
            }
            .section-content {
                padding-bottom: 0;
            }
        }
    }

    section.r {
        margin-top: 20px;
    }
    .loader-c-txt {
        font-size: 22px;
    }
    .section-content {
        display: inherit;
    }
    .background {
        display: none !important;
    }
    .logo {
        width: 100%;
        padding-top: 20px;
        display: inline-block;

        div {
            display: inherit;
            width: 60%;
        }

        img {
            display: inherit;
        }
    } 
    #logo-i {
        width: 100%;
        img {
            width: 30%;
        }
    }

    #logo-t {
        width: 100%;
        margin-top: 20px;
        img {
            width: 60%;
        }
    }

    .line-m {
        display: block !important;
    }
    .social-networks {
        display: none !important;
    }
    .heading {
        width: 100%;
        font-size: 17px;
        padding: 4vh 0;
    }
    .description {
        width: 100%;
        max-width: inherit;
        padding: 0px 50px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 22px;
    }
    .app {
        width: 100%;
        position: inherit;
        display: none !important;
        padding: 20px 0;
        box-sizing: border-box;
    }
    .app.m {
        display: block !important;
        background: $purple-primary;
    }
    .app.m>div img {
        max-width: 200px;
    }
    .app-desc {
        font-size: 12px;
        color: $white;
        font-family: Poppins-Bold;
    }
    .phone-option-description {
        color:$black;
    }
    .phone {
        height: 60%;
        margin-bottom: 20px;
    }
    .phone-frame {
        position: relative;
    }
    .phone-video {
        top: 10.5px;
        left: 11px;
    }
    .phone-options {
        width: 100%;
        max-width: inherit;
    }
    .phone-options {
        width: 100%;
        height: 230px;
        padding: 0;
        background: $white;
        background: linear-gradient(0deg, $purple-primary 0%, $white 100%);
    }
    .phone-option {
        display: inline-block;
        padding: 0px 20px;
        vertical-align: middle;
    }
    .phone-option.active .phone-option-background {
        width: 60px;
        height: 60px;
    }
    .phone-option.active .phone-option-background {
        background-size: 50px;
    }
    .phone-option-background {
        width: 40px;
        height: 40px;
        background-color: $light-gray;
        border: none;
    }
    .phone-option-description {
        display: none !important;
    }
    .phone-option-texts-line {
        display: block;
    }
    .phone-option-texts {
        height: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        color: $black;
        font-size: 13px;
        text-shadow: none;
    }
    .social-networks.m {
        margin: auto;
        position: relative;
        display: block !important;
        .social-network {
            padding-top: 5px;
        }
    }
    .social-network img {
        width: 20px;
        height: 20px;
    }
    .contact-us {
        display: none !important;
    }
    .app-ios, .app-android {
        width: 150px;
    }
}