@keyframes LogoRotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes LogoShrink {
    from { max-width: 70%; }
    to { max-width: 50%;  }
}

@keyframes OptionBackground {
    from {background-color: transparent;}
    to {background-color: $orange;}
}

@keyframes OptionText {
    from {top: -10px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}