body {
  margin: 0;
}
section {
  padding: 0 1rem;
}

.hidden {
  display: none !important;
}

@import "font.scss";
@import "config.scss";
@import "typography.scss";
@import "keyframes.scss";

// sections
@import "sections/main-section.scss";
@import "sections/sponsores-section.scss";
@import "sections/instruction-section.scss";
@import "sections/feature-section.scss";
@import "sections/feedback-section.scss";
@import "sections/footer.scss";
@import "sections/header.scss";
@import "sections/loading.scss";
