$purple-primary: #50509f;
$white: #fff;
$gray: #bebebe;
$dark-navi: #0f0f0f;
$orange: #FE805C;
$dark-gray: #666;
$light-gray: #929292;
$black: #000;

@import "font.scss";
@import "keyframes.scss";
@import "index.scss";
@import "media-queries.scss";

